.bf {
    width:25px;
    height:25px;
    padding-bottom:4px;
    margin-right:6px;
}

.ukf {
    width:25px;
    height:25px;
    padding-bottom:4px;
    margin-right:6px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}
.mobile-upperHead{
    float: left;
}
@media screen and  (max-width:1100px){
.mobile-upperHead{
display: none;
float: left;
}
}